{% extends 'base.html' %}

{% block title %}Brad Stammers{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <p>I have been a software developer for over 20 years, with my primary employment having been as a Lotus Notes Developer.</p>
        <p>In my most recent role I had updated my skills to work with C# for a brief period of time, then spent a few years as a Full Stack Developer primarily working with Ruby on Rails.</p>
    </div>
</div>
{% endblock %}